/*Estrutura do cabeçalho*/
:root{
    --roxo-escuro: #6e42b2;
    --roxo-claro: #ba3cb9;
    --azul: #1b48ab;
    --rosa-claro: #bd94e2;
    --font-michroma: "Michroma","Arial", sans-serif;
}

body{
    
}

.header{
    width: 100%;
}

.header__menu{
    box-sizing: border-box;
    height: 55px;
    width: 100%;
    background-color:var(--roxo-claro) ;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: #FFF;
}

/*Nome do evento */

.header__menu h3{
    box-sizing: border-box;
    float: left;
    margin:0;
    font-family: var(--font-michroma);
    color:#fff;
    padding: 9px;
}

/* Barra de navegação */
.menu_list {
    box-sizing: border-box;
    float: right;
    margin: 0 30px 0 0;
}

.menu_list li {
    box-sizing: border-box;
    height: 55px;
    display: block;
    float: left;
    padding: 17px 25px;
}

.menu_list li:hover{
    background-color:var(--rosa-claro);
}

.menu_list li a{
    font-family: var(--font-michroma);
    font-weight: bold;
    font-size: 14px;
}


.menu_list_subscribe {
    display: block;
    background-color: var(--azul);
}

/* Banner*/

.banner{
    width: 100%;
    height: 510px;
    margin: 0 auto;
}

/* MAIN */

.main__top{
    width: 100%;
    overflow: hidden;
    margin-top: 2%;
}

.section_title{
    font-family: var(--font-michroma);
    font-weight: bold;
    font-size: 24px;
}

.main__left, .main__rigth{
    float: left;
    box-sizing: border-box;
}

.main__left{
    width: 70%;
    padding-left: 2%;
    padding-right: 2%;
}

.main__rigth{
    width: 30%;
    margin-right: 0;
    padding-left: 2%;
    padding-right: 2%;
}

/* SECTION INFO */

.info{
    display: block;
    font-family: var(--font-michroma);
    margin-bottom: 50px;
}

.info h1{
    color: var(--roxo-escuro);
    font-weight: bold;
}

.info h3{
    display: inline;
}

.info img{
    display: inline;
    height: 22px;
    margin-right: 4px;
}

.info_link a{
    color:var(--azul);
}

/* MAIN DETALHES */
#detalhes h3{
    font-family: var(--font-michroma);
    font-size: 18px;

}

#detalhes p{
    font-size:17px;
    font-weight: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* MAIN MAPA */
#map iframe{
    height: 350px;
    width: 700px;
}

/* MAIN PRECOS */

.precos_tabela{
    background:var(--rosa-claro);
    width:96%;
    height:auto;
    display:block;
    margin:3px;
    border-radius:8px;
    overflow:hidden;
    box-shadow: 5px 5px 10px;
}

.precos_tabela .heading{
    width:100%;
    padding:10px;
    text-align:center;
    font-size:24px;
    color:#fff;
    margin-bottom:30px;
    text-transform:capitalize;
}

.precos_tabela .block{
    display:block;
    width:80%;
    padding: 4px;
    margin:13px 10%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 3px 3px 10px;
    p{
        font-weight: bold;
        font-size: 14pt;
        padding-left: 12px;
    }
    .price{
      float:right;
      position:relative;
      right:9px;
      color: var(--roxo-escuro);
    }
    .options{
      display:block;
      list-style:none;
      margin:10px auto;
      li{
        font-size:16px;
        color: var(--azul);
        font-weight: bold;
        text-transform:capitalize;
      }
    }
  }
  .btn{
      display:block;
      margin:20px auto 30px;
      width:60%;
      height:50px;
      background:var(--roxo-escuro);
      border:none;
      cursor: pointer;
      box-shadow: 3px 3px 10px;
    p{
      font-weight:bolder;
      color:#fff;
      font-size:10pt;
      text-align:center;
      font-family: var(--font-michroma);
      text-transform:uppercase;
      margin: auto 0;
     
    }
    span{
      font-size:20px;
      position:relative;
      top:-35px;
      left:-100%;
      color:#fff;
    }
   }
   .btn:hover{
    background: var(--azul);
}

/* GALERIA */

.main__bottom{
    background-color: var(--rosa-claro);
}

#galeria{
    margin:5% 0;
    width:100%;
    padding: 2% 0;
}

#galeria h2{
    margin-left: 2%;
}

#carouselExampleIndicators{
    width:60%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

/*Contato*/

.formcontato{
    background-color: white;
    margin-left: 10%;
}

.formcontato--esquerda,.formcontato__text{
    float: left;
}

.formcontato__text{
    margin-left: 2%;
    width: 50%;
}

.formcontato__img{
    width: 464px;
    height: 100%;
}

.formcontato__text .section_title,.formcontato__subtext{
   display:block;
   font-family: var(--font-michroma);
}

.formcontato__subtext{
    font-size: 18px;
    margin-bottom: 2%;
}

.formcontato__form{
    display: block;
}

.formcontato__input{
    width: 41rem;
    height: 3.5rem;
    border-radius: 10px;
    outline:none;
    margin-bottom: 2%;
    box-shadow: 3px 3px 10px;
}

.formcontato__input:focus, .formcontato__textarea:focus{
    border-color: var(--roxo-escuro);
    outline: none;
}

.formcontato__textarea{
    width: 41rem;
    height: 8.313rem;
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
    margin-bottom: 2%;
}

.formcontato__botao{
    width: 170px;
    height: 3rem;
    border-radius: 10px;
    background-color: var(--roxo-escuro);
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 3px 3px 10px;
}

.formcontato__botao:hover{
    background-color: var(--rosa-claro);
    border-color: var(--rosa-claro);
}

.erro{
    display: none;
    font-weight: bold;
    font-size: 16px;
    color: red;

}

/* RODAPE */

.footer{
    background-color: var(--rosa-claro);
    width: 100%;
    height: 100px;
    margin-top: 10%;
    position: relative;
    top:30px;
 }

 .clear{
    clear: both;
 }

 .footer__rodape{
    width:20%;
    margin: 0 auto;
 }
 
 .footer__rodape p{
    padding-top: 2%;
    color: white;
    text-align: center;
 }